@import url('/css/header.css');
@import url('/css/hero.css');
@import url('/css/discover.css');
@import url('/css/cards.css');
@import url('/css/test.css');
@import url('/css/events.css');
@import url('/css/contact.css');
@import url('/css/footer.css');