.test {
    background-color: #581C87;
    color: white;

}

.container {}

.test-wrap {
    padding: 80px 80px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
}

.test-main {

    max-width: 385px;
}

.test-sub {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.test-title {
    font-size: 56px;
    margin-bottom: 32px;

}

.accent-bottom-test {
    position: relative;
    z-index: 1;
}

.accent-bottom-test::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 98%;
    height: 4px;
    background: #C084FC;
    z-index: -1;
}


.accent-bottom {}

.card-link {}

.test-img-block {
    max-width: 350px;
}

.test-img {
    object-fit: cover;
    width: 100%;
}

.test-footer {
    max-width: 385px;
}

.test-desc {
    font-size: 18px;
    margin-bottom: 16px;
}

.test-card {
    display: flex;
    align-items: center;
    gap: 6px;

}

.test-card-img-block {}

.test-card-text {}

.test-fio {
    font-size: 18px;
}

.test-work {}

@media (max-width:768px) {
    .test-wrap {
        padding: 80px 0px;
        text-align: center;
        flex-direction: column;
        align-items: center;

    }

    .test-sub {
        text-align: center;
    }

    .test-title {
        font-size: 40px;
        margin-bottom: 32px;
        text-align: center;
    }

    .test-footer {

        align-items: center;
        text-align: center;
    }
}